{
    "exchanges": { 
        "tux": {
            "PublicKey" : "",
            "PrivateKey": ""
        },
        "poloniex": {
            "PublicKey" : "",
            "PrivateKey": ""
        }
        "bittrex": {
            "PublicKey" : "",
            "PrivateKey": ""
        }
    },
    "DEBUG": true
}

